:root {
  --color-white: rgb(255, 255, 255);
  --color-red: red;
  --color-gray: rgb(234, 234, 234);
  --color-yellow: yellow;
  --color-black: #000;

  --border-r64: 6.4rem;
  --border-r32: 3.2rem;
  --border-r16: 1.6rem;

  --color-orange: rgb(255, 102, 0);
  --color-orange-alt: rgb(255, 143, 68);
  --color-orange-alt2: rgb(197, 79, 0);
  --color-orange-alt3: rgba(255, 102, 0, 0.1);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
  outline: unset;
  cursor: pointer;
}
button {
  background-color: unset;
  cursor: pointer;
  outline: unset;
}
input {
  outline: unset;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
  height: 100%;
  width: 100%;
}

span {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

.page {
  flex: 1 1 auto;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 0.5208335vw;

  @media (max-width: 768px) {
    font-size: 1.5625vw;
    font-size: calc((100 / 375) * 10vw);
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  padding: 4rem 35rem;
  position: relative;

  @media (max-width: 768px) {
    padding: 4.5rem 1.6rem;
  }
}
._container-alt {
  padding: 4.5rem 15rem;
  position: relative;

  @media (max-width: 768px) {
    padding: 4rem 1.6rem;
  }
}
.header {
  padding: 2rem 35rem;
  position: relative;

  @media (max-width: 768px) {
    padding: 1rem 1.6rem;
  }
}
.footer {
  padding: 6rem 35rem;
  position: relative;

  background-color: var(--color-black);

  @media (max-width: 768px) {
    padding: 4rem 1.6rem 2rem;
  }
}
.btn-primary {
  border-radius: var(--border-r32);
  border: 0.2rem solid var(--color-orange);
  background-color: var(--color-white);
  padding: 1.5rem 4rem;
  color: var(--color-orange);

  font-weight: 600;

  transition: all 0.3s ease;

  @media (max-width: 768px) {
    padding: 1.5rem 3rem;
  }
}
.btn-primary:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}
.btn-primary:active {
  background-color: var(--color-orange-alt2);
  color: var(--color-orange-alt2);
  background-color: var(--color-white);
}

.btn-second {
  border-radius: var(--border-r32);
  background-color: var(--color-orange);
  padding: 1.5rem 4rem;
  color: var(--color-white);

  font-weight: 600;

  display: flex;
  align-items: center;

  transition: all 0.3s ease;

  @media (max-width: 768px) {
    padding: 1.5rem 3rem;
  }
}
.btn-second:hover {
  background-color: var(--color-orange-alt);
  color: var(--color-white);
}
.btn-second:active {
  background-color: var(--color-orange-alt2);
  color: var(--color-white);
}
.nav__slider-btn {
  background-color: var(--color-orange);
  color: var(--color-white);
  font-size: 3rem;
  width: 4rem;
  height: 4rem;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__slider-btn:hover {
  background-color: var(--color-orange-alt);
}
