:root {
  --color-white: rgb(255, 255, 255);
  --color-gray: rgb(234, 234, 234);
  --color-gray-alt1: rgba(245, 245, 245, 1);
  --color-gray-alt2: rgba(101, 101, 101, 1);
  --color-gray-alt3: rgba(249, 249, 249, 1);
  --color-gray-alt4: rgba(132, 132, 132, 1);
  --color-gray-alt5: rgba(96, 96, 96, 1);
  --color-black: #000;
  --color-black-alt: rgba(67, 67, 67, 1);
  --color-black-alt2: rgba(39, 39, 39, 1);

  --border-r64: 6.4rem;
  --border-r32: 3.2rem;
  --border-r24: 2.4rem;
  --border-r16: 1.6rem;

  --color-orange: rgb(255, 102, 0);
  --color-orange-alt: rgb(255, 143, 68);
  --color-orange-alt2: rgb(197, 79, 0);
  --color-orange-alt3: rgba(255, 102, 0, 0.1);
  --color-orange-alt4: rgba(255, 248, 237, 1);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
  outline: unset;
  cursor: pointer;
}
button {
  background-color: unset;
  cursor: pointer;
  outline: unset;
}
input {
  outline: unset;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
  height: 100%;
  width: 100%;
}

span {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

.page {
  flex: 1 1 auto;
}

body {
  padding-top: 12rem;

  @media (max-width: 768px) {
    padding-top: 5rem;
  }
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: Inter Tight;

  font-size: 0.6944444vw;

  @media (max-width: 768px) {
    font-size: 1.5625vw;
    font-size: calc((100 / 375) * 10vw);
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  padding: 9rem 7.2rem;
  position: relative;

  @media (max-width: 768px) {
    padding: 4.5rem 1.6rem;
  }
}
._container-alt {
  padding: 0rem 7.2rem;
  position: relative;

  @media (max-width: 768px) {
    padding: 4.5rem 1.6rem;
  }
}
._container-alt2 {
  padding: 9rem 14rem;
  position: relative;

  @media (max-width: 768px) {
    padding: 4.5rem 1.6rem;
  }
}
.header {
  padding: 2rem 7.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--color-white);

  @media (max-width: 768px) {
    padding: 1rem 1.6rem;
  }
}
.btn-primary {
  border-radius: var(--border-r32);
  border: 0.1rem solid var(--color-orange);
  background-color: var(--color-white);
  padding: 1.4rem 4rem;
  color: var(--color-orange);

  font-weight: 600;

  transition: all 0.3s ease;

  @media (max-width: 768px) {
    padding: 1.5rem 3rem;
  }
}
.btn-primary:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}
.btn-primary:active {
  background-color: var(--color-orange-alt2);
  color: var(--color-orange-alt2);
  background-color: var(--color-white);
}

.btn-second {
  border-radius: var(--border-r32);
  background-color: var(--color-orange);
  padding: 1.4rem 4rem;
  color: var(--color-white);

  font-weight: 600;

  display: flex;
  align-items: center;

  transition: all 0.3s ease;

  @media (max-width: 768px) {
    padding: 1.5rem 3rem;
  }
}
.btn-second:hover {
  background-color: var(--color-orange-alt);
  color: var(--color-white);
}
.btn-second:active {
  background-color: var(--color-orange-alt2);
  color: var(--color-white);
}
