@import url(./reset.css);
@import url(./fonts.css);

.section_one {
  position: relative;
  margin: 0 auto;
}
.section_one ._section-one_container {
}
.section_one .banner-content__block {
  position: absolute;
  inset: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6.4rem;

  padding: 6rem;

  @media (max-width: 768px) {
    padding: 2rem;

    justify-content: end;
  }
}
.section_one .banner-img {
  position: relative;
  height: 60rem;

  @media (max-width: 768px) {
    height: 54rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: var(--border-r32);

    background: linear-gradient(
      270.16deg,
      rgba(0, 0, 0, 0) 0.14%,
      rgba(0, 0, 0, 0.8) 99.86%
    );

    @media (max-width: 768px) {
      background: linear-gradient(
        180.16deg,
        rgba(0, 0, 0, 0) 0.14%,
        rgba(0, 0, 0, 0.8) 99.86%
      );

      border-radius: var(--border-r16);
    }
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: no-repeat;
    border-radius: var(--border-r32);

    @media (max-width: 768px) {
      border-radius: var(--border-r16);
    }
  }
}
.section_one .banner-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section_one .banner-h1 {
  color: var(--color-white);
  width: 65rem;

  font-size: 5.6rem;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 3.2rem;
    width: unset;
  }
}
.section_one .banner-text {
  color: var(--color-white);

  font-size: 2rem;
  font-weight: 400;
  line-height: 140%;

  @media (max-width: 768px) {
    font-size: 1.4rem;
  }
}
.section_one .banner-blcok__btn {
  display: flex;
  gap: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
    bottom: -1.8rem;

    left: 6rem;
    transform: unset;
  }
}
.section_one .banner-link {
  font-size: 1.6rem;

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
.section_one .banner-btn {
  font-size: 1.6rem;
}

/* // section-two */

.section-two {
}

.head-off_btn {
  padding: 0.8rem 2.4rem;
  border-radius: var(--border-r32);
  border: 0.1rem solid var(--color-orange);
  background-color: var(--color-white);

  color: var(--color-black-alt);

  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: -2%;
}

.advantages {
  margin-top: 3.2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.4rem;
  }
}

.advantages-card:nth-child(odd) {
  background-color: var(--color-gray-alt1);
}
.advantages-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1.2rem;
  background-color: var(--color-white);

  padding: 2.4rem;
  border-radius: var(--border-r24);
  height: 16rem;
}
.card-title {
  font-size: 2.4rem;
  font-weight: 600;

  color: var(--color-black-alt);
  letter-spacing: -1%;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}
.card-text {
  font-size: 1.4rem;
  font-weight: 400;

  color: var(--color-black-alt);
  letter-spacing: -1%;
}

.advantages-btn {
  margin: 3.2rem auto 0;

  font-weight: 600;
  font-size: 1.6rem;
}

/* // our-works */

.section__our-works {
  background-color: var(--color-gray-alt3);
}

.section__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.section__title {
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-black-alt);
  line-height: 1.3;

  text-align: center;

  @media (max-width: 768px) {
    font-size: 2.4rem;
    font-weight: 600;
  }
}
.section__title span {
  display: inline;
  color: var(--color-gray-alt4);
}
.container-works {
  margin-top: 4.8rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 3rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;

    margin-top: 3rem;
  }
}
.works-img {
  height: 40rem;

  @media (max-width: 768px) {
    height: 25rem;
    min-width: unset;
  }

  img {
    border-radius: var(--border-r16);
  }
}

.section__btn {
  margin-top: 4.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @media (max-width: 768px) {
    margin-top: 3rem;
  }
}
.section__btn-btn {
  padding: 1.2rem 6.5rem;

  font-size: 1.6rem;
}
.section__link {
  font-weight: 600;
  font-size: 1.6rem;

  color: var(--color-orange);
}

/* Класс для показанных изображений */
.works-img.visible {
  display: block;
  animation: fadeIn 0.5s ease;
}

.btn-work {
  font-size: 1.5rem;
  font-weight: 600;

  margin: 5rem auto 0;

  @media (max-width: 768px) {
    margin-top: 3rem;
  }
}

/* Модальное окно */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-overlay.active {
  display: flex;
  opacity: 1;
}

.modal-content {
  max-width: 100%;
  max-height: 100%;
  position: relative;

  @media (max-width: 768px) {
    max-height: 100%;
  }
}

#modalImage {
  max-width: 100%;
  height: 95vh;

  object-fit: contain;
  display: block;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-height: 100vh;
  }
}

/* Кнопка закрытия */
.modal-close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 4rem;
  cursor: pointer;
  z-index: 1002;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.modal-close:hover {
  transform: scale(1.1);
}

/* Кнопки навигации */
.modal-nav {
  position: fixed;
  width: 30rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-img {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: var(--color-white);
  font-size: 4rem;
  cursor: pointer;
  z-index: 1001;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.modal-nav:hover {
  .btn-img {
    background: rgba(255, 255, 255, 0.3);
  }
}

.modal-prev {
  left: 3rem;

  @media (max-width: 768px) {
    .modal-prev {
      left: 1.5rem;
    }
  }
}

.modal-next {
  right: 3rem;

  @media (max-width: 768px) {
    .modal-next {
      right: 1.5rem;
    }
  }
}

/* Счетчик изображений */
.image-counter {
  position: fixed;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.8rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  z-index: 1001;

  @media (max-width: 768px) {
    .image-counter {
      bottom: 2rem;
      font-size: 1.6rem;
    }
  }
}

/* Эффект при клике на картинку */
.works-img img {
  cursor: pointer;
  transition: transform 0.3s;
}

.works-img img:hover {
  transform: scale(1.02);
}

/* section-salon */

.section-salon {
}

.salon-title {
  font-size: 4rem;
  font-weight: 700;

  text-align: center;

  color: var(--color-black-alt);

  @media (max-width: 768px) {
    font-size: 3.2rem;
  }
}
.container-salon {
  margin-top: 4.8rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;

    margin-top: 2rem;
  }
}
.salon-card {
  display: flex;
  flex-direction: column;

  height: 100%;
}
.salon-card_img {
  height: 40rem;

  @media (max-width: 768px) {
    height: 22rem;
  }

  img {
    border-radius: var(--border-r24);
  }
}
.salon-card_content {
  padding: 1.6rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.card-content-title {
  font-size: 2.8rem;
  font-weight: 500;
}
.card-content__address {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.2;
}
.card-content_info {
  margin-top: 1.5rem;

  display: flex;
  flex-direction: column;
}
.contrnt-info_text {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-gray-alt5);
}
.card-content__number {
  margin-top: 2rem;

  font-weight: 500;
  font-size: 1.8rem;
  color: var(--color-black-alt2);
}
.salon-card_btn {
  font-size: 1.6rem;
  padding: 1.2rem auto;
  display: flex;
  justify-content: center;
  width: 100%;

  margin-top: 2rem;
}
.card-content-contacts {
  margin-top: auto;

  padding: 0 1.6rem 1.6rem;
}

/* section-survey */

.section-survey {
}
.container-survey {
  border-radius: var(--border-r32);
  background-color: var(--color-orange-alt4);
  padding: 4.8rem;

  @media (max-width: 768px) {
    padding: 1.2rem;
  }
}
.head-survey {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin: 0 auto;

  border-radius: var(--border-r64);
  background-color: var(--color-white);
  padding: 1.2rem 2.4rem;

  width: fit-content;

  position: relative;

  @media (max-width: 768px) {
    width: unset;
    gap: 0.5rem;

    padding: 1rem;
  }
}
.head-survey_img {
  width: 3.2rem;
  height: 3.2rem;

  @media (max-width: 768px) {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.head-survey_text {
  font-size: 2rem;

  @media (max-width: 768px) {
    font-size: 1.3rem;
  }
}

.block-title {
  margin-top: 2rem;
}
.survey-title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2;

  text-align: center;

  @media (max-width: 768px) {
    font-size: 2.6rem;
  }
}
.container-choice {
  margin-top: 6rem;

  @media (max-width: 768px) {
    margin-top: 3rem;
  }
}
.block-choice_one {
  display: grid;
  grid-template-columns: repeat(3, 28rem);
  justify-content: center;
  gap: 2rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.choice-one_card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.choice-one_card-img {
  height: 20rem;

  @media (max-width: 768px) {
    height: 20rem;
  }
}
.head-survey_img-absolute {
  position: absolute;
  top: -1.7rem;
  right: -1rem;

  width: 2.7rem;

  @media (max-width: 768px) {
    display: none;
  }
}
.choice-one_card-text {
  font-size: 1.6rem;
}
.down-survey {
  margin-top: 6rem;

  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;

    margin-top: 3rem;
  }
}
.survey-count {
  padding: 1.2rem 2.4rem;
  border-radius: var(--border-r64);
  background-color: var(--color-white);

  font-size: 2rem;
  font-weight: 600;

  @media (max-width: 768px) {
    width: fit-content;

    font-size: 1.6rem;
  }
}

.survey-count__number {
  display: inline;
}

.down-survey_btn {
  font-size: 1.6rem;

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/* block-choice_two */

.block-choice_two {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.radio-label {
  display: flex;
  align-items: center;
  gap: 1rem;

  cursor: pointer;

  font-size: 2rem;

  @media (max-width: 768px) {
    font-size: 1.6rem;
  }
}
.radio-real {
  display: none;
}
.radio-custom {
  position: relative;
  min-width: 2rem;
  height: 2rem;
  border: 0.2rem solid var(--color-orange);
  border-radius: 50%;
  transition: all 0.3s;
}

.radio-custom::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 1rem;
  width: 1rem;
  height: 1rem;
  background: var(--color-orange);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.radio-real:checked + .radio-custom {
  border-color: var(--color-orange);
  background-color: rgba(52, 152, 219, 0.1);
}

.radio-real:checked + .radio-custom::after {
  opacity: 1;
}

.radio-label:hover .radio-custom::after {
  opacity: 0.5;
}
.radio-real:checked:not(:hover) .radio-custom::after {
  opacity: 0;
}

.radio-label:has(.radio-real:checked):hover .radio-custom::after {
  opacity: 1;
}

/* block-choice_three */

.block-choice_three {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* block-choice_four */

.block-choice_four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*  */
.survey-title {
  display: none;
}

.survey-title.active {
  display: block;
}

.block-choice {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.block-choice.active {
  opacity: 1;
  visibility: visible;
  height: auto;
  overflow: visible;
}
.choice-card-img {
  height: 28rem;

  @media (max-width: 768px) {
    height: 20rem;
  }
  img {
    border-radius: var(--border-r16);
  }
}

.error-message {
  color: #e74c3c;
  font-size: 1.4rem;
  margin-top: 1rem;
  display: none;
}

.error-message.show {
  display: block;
}

.choice-card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: var(--border-r16);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (max-width: 768px) {
    padding: 0.5rem;
  }
}
.choice-card-text {
  font-size: 1.6rem;
}

.choice-card.selected {
  background-color: var(--color-orange-alt3);
  box-shadow: 0 0 0 0.2rem var(--color-orange);
}

.radio-label {
  transition: all 0.3s ease;
  border-radius: var(--border-r8);
}

.choice-card:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
}

.down-survey_btn {
  transition: all 0.3s ease;
}

.down-survey_btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.back-btn {
  display: none;

  font-size: 1.6rem;
}

.block-survey__btn {
  display: flex;
  gap: 1rem;
}

/* header */

.header-container {
  display: flex;
  align-items: end;
  gap: 6rem;

  @media (max-width: 768px) {
    justify-content: space-between;
    align-items: center;
  }
}
.header-logo {
  width: 16.5rem;
  height: 6rem;

  @media (max-width: 768px) {
    max-width: 14rem;
    height: 5.5rem;
  }
}
.header-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;

  @media (max-width: 768px) {
    display: none;
  }
}
.header-nav_up {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.header-nav__link {
  position: relative;
  padding-bottom: 0.3rem;
}
.header-nav_up-item .header-nav__link {
  font-weight: 500;
  font-style: Medium;
  font-size: 1.6rem;
  leading-trim: NONE;
  letter-spacing: 0%;
  text-align: center;
}
.header-nav_down-item .header-nav__link {
  color: var(--color-gray-alt2);

  font-weight: 500;
  font-style: Medium;
  font-size: 1.2rem;
  leading-trim: NONE;
  letter-spacing: 0%;
  text-align: center;
}

.header-nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.1rem;
  background-color: var(--color-orange);
  transition: width 0.3s ease;
}

.header-nav__link:hover::after {
  width: 100%;
}
.header-nav_down {
  display: flex;
  gap: 2rem;
}
.header-block__btn {
  margin-left: auto;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  @media (max-width: 768px) {
    display: none;
  }
}
.header-block__btn-mail {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.header-block__mail-img {
  width: 1.6rem;
  height: 1.6rem;
}
.header-block__btn-box {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.header-btn {
  font-size: 1.6rem;
  padding: 0.8rem 1.2rem;
}
.header-btn_box-link {
  padding: 0.7rem;
  border-radius: 50%;
  border: 0.1rem solid var(--color-orange);

  transition: 0.3s ease;
}
.header-btn_box-link:hover {
  background-color: var(--color-orange-alt3);
}
.header-btn_box-link span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-btn_box-link span img {
  width: 1.6rem;
  height: 1.6rem;
}

/* Стили для бургер-меню */
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2rem;
  cursor: pointer;
}

.burger-menu span {
  display: block;
  height: 0.3rem;
  width: 100%;
  background-color: #000;
  border-radius: 2px;
}

/* Мобильное меню */
.mobile-menu {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  overflow-y: auto;
  z-index: 1000;
  padding: 5rem 2rem 3rem;

  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.mobile-menu.active {
  opacity: 1;
  visibility: visible;

  display: flex;
  flex-direction: column;
}

.mobile-menu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3rem;
  cursor: pointer;
  color: #333;
  z-index: 1001;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu-list__btn {
  font-size: 1.8rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 3rem;
}
.list-btn__arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s ease;
}

.menu-list__btn.active .list-btn__arrow {
  rotate: 180deg;
}
.serves {
  margin-top: 3rem;
}
.serves-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;

  padding-bottom: unset !important;
  border-bottom: unset !important;
}
.menu-list__catalog {
  max-height: 0;
  transition: 0.3s ease;
  opacity: 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  visibility: hidden;
}
.menu-list__catalog.active {
  opacity: 1;
  padding: 1rem 0 0 1.4rem;

  visibility: visible;
  max-height: 20rem;
}
.menu-list__catalog li:last-child {
  border-bottom: unset;
}
.mobile-menu__list li {
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid var(--color-gray);
}
.mobile-menu__list li:last-child {
  border-bottom: unset;
}

.mobile-menu__list a {
  font-size: 1.8rem;
  color: #333;
  transition: color 0.3s ease;
}

.mobile-menu__list a:hover {
  color: var(--color-yellow);
}

.mobile-menu__btn {
  font-size: 1.6rem;

  display: flex;
  justify-content: center;

  margin-top: 3rem;
}

/* Адаптивность */
@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  .header-nav,
  .header-block__btn {
    display: none !important;
  }
}

/* section-reliable */

.container-reliable {
  margin-top: 4.8rem;

  display: flex;
  justify-content: space-between;
  gap: 4.8rem;

  @media (max-width: 768px) {
    margin-top: 3rem;

    flex-direction: column;
    gap: 3rem;
  }
}
.container-reliable__img {
  width: 75rem;
  height: 38.5rem;

  @media (max-width: 768px) {
    width: unset;

    height: 22rem;
  }

  img {
    border-radius: var(--border-r32);
  }
}
.container-reliable__content {
  background-color: var(--color-orange-alt4);
  border-radius: var(--border-r32);
  padding: 3.2rem 2.4rem;

  width: 38.4rem;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @media (max-width: 768px) {
    width: unset;

    padding: 2.4rem;
  }
}
.reliable-content__info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 1rem;
}
.content__info-who {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content__info-who span {
  font-weight: 400;
  font-size: 1.4rem;

  color: var(--color-black-alt2);
}
.content__info-who {
  font-weight: 500;
  font-size: 3.2rem;

  @media (max-width: 768px) {
    font-size: 2.4rem;
  }
}
.reliable-content__text {
  font-family: Inter Tight Italic;
  font-weight: 400;
  font-style: Italic;
  font-size: 1.6rem;

  color: var(--color-black-al);

  margin-top: 2.4rem;
}
.content__ing-img {
  width: 10rem;
  height: 10rem;
  img {
    border-radius: 50%;
  }
}
.btn-second {
}
.reliable-content___btn {
  font-size: 1.6rem;
  width: fit-content;

  margin-top: auto;

  @media (max-width: 768px) {
    margin-top: 4rem;
  }
}

/* section-client */

.section-client {
  background-color: var(--color-gray-alt3);
}

.container-client {
  margin-top: 4.8rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;

  @media (max-width: 768px) {
    margin-top: 3rem;

    grid-template-columns: repeat(1, 1fr);
    gap: 2.4rem;
  }
}
.client-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
  padding: 2.4rem;
  border-radius: var(--border-r24);
  background-color: var(--color-white);
}
.client-card__img {
  width: 9.6rem;
  height: 1.6rem;
}
.client-card__text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  color: var(--color-gray-alt5);

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.client-card__info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.client-card__info h3 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
}
.client-card__info span {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

/* section-present */

.section-present {
}
.container-present {
  display: flex;
  gap: 2.4rem;
}
.block-present__img {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  @media (max-width: 768px) {
    display: none;
  }
}
.present-box__img {
  width: 32rem;
  height: 32rem;
}
.block-present__middle {
  width: 61.5rem;
  border-radius: var(--border-r32);
  background-color: var(--color-orange-alt4);
  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
